<div class="fpwonderbox">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">

        {{#hasfpiconnav}}

                <div class="fpstartwrap text-center">
                <div class="fpstart">
                    <div class="iconset">

                        {{#fpiconnav}}
                            {{#hasicon}}
                            <div class="btn btn-secondary mt-6 mb-6" style="background-color:white!important; border-color:white!important; font-size:20px;">
                                <a role="button" href = {{{link}}} title = "{{{linktext}}}" alt="{{{linktext}}}" target="{{linktarget}}">
                                    <div class="navicon" align="center">
                                        <i class="fa fa-3x fa-{{{linkicon}}}"></i>
                                    </div>
                                    {{{linktext}}}
                                </a>
                            </div>
                            {{/hasicon}}
                        {{/fpiconnav}}

                        {{#fpslideicon}}
                            {{#hasicon}}
                                <div class="btn btn-secondary" style="background-color:white!important; border-color:white!important; font-size:20px;">
                                    <a role="button" data-toggle="collapse" href="#fpslider" aria-expanded="false" aria-controls="fpslider" title = "{{{linktext}}}" alt="{{{linktext}}}">
                                        <div class="navicon" align="center">
                                            <i class="fa fa-3x fa-{{{linkicon}}}"></i>
                                        </div>
                                        {{{linktext}}}
                                    </a>
                                </div>
                            {{/hasicon}}
                        {{/fpslideicon}}



                    </div>
                </div>
                </div>

                {{#hasslidetextbox}}
                    <div class="collapse" id="fpslider">
                        {{{slidetextbox}}}
                    </div>
                {{/hasslidetextbox}}
                <div style="clear:both;"></div>

        {{/hasfpiconnav}}

        {{#alertbox}}
            <div class="alertbox">
                <div class="alertmessage">
                {{{alertbox}}}
                </div>
            </div>
            <div style="clear:both;"></div>
        {{/alertbox}}

        {{#hasfptextbox}}
                <div class="fptextbox">
                    {{{fptextbox}}}
                </div>
        <div style="clear:both;"></div>
        {{/hasfptextbox}}
</div>
</div>
</div>

{{#hasfptextboxlogout}}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
    {{#hasshowloginform}}
            <div class="col-md-4 signinform">
            <div class="fpsignup">
            <h3>{{#str}}fpsignup, theme_competency{{/str}}</h3>
                        <form class="m-t-1" action="{{{ config.wwwroot }}}/login/index.php" method="POST" role="form">
                        <input type="hidden" name="logintoken" value="{{logintoken}}">
                            <label for="username">
                              {{^canloginbyemail}}
                                  {{#str}}username{{/str}}
                              {{/canloginbyemail}}
                              {{#canloginbyemail}}
                                  {{#str}}usernameemail{{/str}}
                              {{/canloginbyemail}}
                            </label>
                            <div class="input-group">
                              <div class="input-group-addon"></div>
                              <input type="text" class="form-control" id="username" name="username" placeholder="{{#str}}username{{/str}}" required />
                            </div>

                            <label for="password">{{#str}}password{{/str}}</label>
                            <div class="input-group">
                              <div class="input-group-addon"></div>
                              <input type="password" class="form-control" id="password" name="password" placeholder="{{#str}}password{{/str}}" required />
                            </div>

                            <div class="sign-up-btn">
                                <button type="submit" class="btn btn-primary">{{#str}}login{{/str}}</button>
                            </div>
                        </form>

                        <p><a href="{{{ config.wwwroot }}}/login/forgot_password.php">{{#str}}forgotten{{/str}}</a></p>

                        {{#cansignup}}
                            <a class="btn btn-register btn-primary" href="{{{ config.wwwroot }}}/login/signup.php?">{{#str}}newaccount{{/str}}</a>
                        {{/cansignup}}
            </div>
            </div>
            {{/hasshowloginform}}

                <div class="fptextbox">
                    {{{fptextboxlogout}}}
                </div>

    </div>
    </div>
    </div>
    <div style="clear:both;"></div>
{{/hasfptextboxlogout}}
{{#hascategory}}
<div class="markettiles">
    <div class="container-fluid">
    <div class="row">
<h1 class="col-md-12 text-center text-primary">Categories</h1>
        {{#categorytiles}}
        {{#hastile}}

        <div class="col-md-3 mb-3"  style="height:auto!important; border-color:red!important">
        <div class="market-tile" style="height:auto!important;">

        <div class="marketcontent {{{cate_image}}}"  style="height:auto!important;">
            <img class="marketcontent" src="{{{cate_image}}}" alt="" style="width:290px!important; height: 200px!important;">
            <h3 class="card-title">{{{cate_title}}}</h3>
            <p>{{{cate_content}}}<p>
            </div>
            {{{cate_button}}}
        </div>
        </div>

        {{/hastile}}
        {{/categorytiles}}
    </div>
    </div>
</div>
<div style="clear:both;"></div>
{{/hascategory}}
</div>
