
<br>
<div id="yui_3_17_2_1_1661850878171_30" class="box py-3 d-flex justify-content-center">
<div class="simplesearchform ">
    <form autocomplete="off" action="../course/search.php" method="get" accept-charset="utf-8" class="mform form-inline simplesearchform">
        <input type="hidden" name="areaids" value="core_course-course">
    <div class="input-group">
        <label for="searchinput-630dd3841f7ca630dd3834711b11">
            <span class="sr-only">Search courses</span>
        </label>
        <input type="text" id="searchinput-630dd3841f7ca630dd3834711b11"  style="width:600px;" class="form-control" placeholder="Search courses" aria-label="Search courses" name="q" data-region="input" autocomplete="off" value="">
        <div class="input-group-append">
            <button type="submit" class="btn  btn-primary search-icon">
                <i class="icon fa fa-search fa-fw " aria-hidden="true"></i>
                <span class="sr-only">Search courses</span>
            </button>
        </div>

    </div>
    </form>
</div>
</div>
